
*.log
*.tlog
PI-Allegro/Debug/
PI-Allegro/.vs/
PI-Allegro/.vs/PI-Allegro/v16/.suo
PI-Allegro/.vs/PI-Allegro/v16/Browse.VC.db
PI-Allegro/Debug/PI-Allegro.exe
PI-Allegro/Debug/PI-Allegro.ilk
PI-Allegro/Debug/PI-Allegro.log
*.obj
PI-Allegro/Debug/PI-Allegro.obj
PI-Allegro/Debug/pi-allegro.obj.enc
PI-Allegro/Debug/PI-Allegro.pdb
PI-Allegro/Debug/vc142.idb
PI-Allegro/Debug/vc142.pdb
PI-Allegro/.vs/PI-Allegro/v16/.suo
*.db
*.ipch
PI-Allegro/Debug/PI-Allegro.exe
PI-Allegro/Debug/PI-Allegro.ilk
*.log
PI-Allegro/Debug/PI-Allegro.log
*.obj
PI-Allegro/Debug/PI-Allegro.obj
*.pdb
PI-Allegro/Debug/PI-Allegro.pdb
*.idb
PI-Allegro/Debug/vc142.pdb
